h1 {
    color: rgb(255, 0, 0);
}

p:hover {
    color: rgb(151, 71, 255);
}

a:hover {
    color: rgb(255, 71, 200);
}

a:active {
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.img {
    max-width: 200%;
    height: auto;
    border-radius: 5px;
}