body {
    font-family: "Poppins", sans-serif;
    color: #28aaca;
    font-size: 14px;
    background-color: #3f1822;
    margin: 0 auto;
}

img-first {
    height: auto;
    width: 30%;
    max-width: 200px;
}

title-header {

    color: #dae910;
    display: flex;
    align-items: center;
}

ul-header {
    display: flex;
    align-items: last baseline;
}

spennende {
    color: #cec10c;
}

spennende-li :hover {
    color: rgb(16, 230, 230);
}

h1 {
    font-family: "Oswald",
        sans-serif;
    color: rgb(180, 226, 14);
}

text {
    display: flex;
    align-items: center;
}

img {
    border-radius: 5px;
}

.newfooter {
    display: flex;
    align-items: center;
    color: #cec10c;
}

meetme-list-link :hover {
    color: red;
}