h1 {
    color: rgb(255, 0, 0);
}

p:hover {
    color: rgb(151, 71, 255);
}

a:hover {
    color: rgb(255, 71, 200);
}

a:active {
    color: black;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.img {
    max-width: 50%;
    border-radius: 5px;
    height: 50px;
}

.button {
    height: 1cm;
    width: 5cm;
    color: blueviolet;
}

.button:active {
    color: black;
}

.meetme {
    text-align: center;
}

.meetme-list {
    text-align: auto;
}